

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../img/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img {
    height: 3rem;
    width: 10rem;
}

.header{
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
}

.login_body{
    padding: 5rem;
    z-index: 90;
    position: relative;
    height: 35rem;
    max-width: 30rem;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 0.8rem;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login_body h2{
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 0;
}

.login_body input{
    height: 3rem ;
    width: 100%;
    background-color: #333;
    border: none;
    border-radius: 0.3rem;
    padding-left: 1rem;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover{
    background-color: #444;

}

.input_box{
    margin-bottom: 1rem;
}

.login_body button{
    height: 3rem;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border-radius: 0.1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin-bottom: 0.8rem ;
}

.login_body button:hover{
    background-color: #e50914a8;
}

.support{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.support input{
    width: 1rem;
    height: 1re;
}

.remember{
    display: flex;
    align-items: center;
}

.remember span{
    margin-right: 0.3rem;
    height: 1.4rem;
}

.help a{
    text-decoration: none;
    color: #737373;
}

.help a:hover{
    text-decoration: underline;
}

.login_facebook{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login_facebook span{
    margin-right: 0.3rem;
    font-size: 0.9rem;
}

.login_facebook span a{
    text-decoration: none;
    color: #737373
}

.sign_up{
    color: #737373;
    font-size: 1rem;
}

.sign_up a{
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.sign_up a:hover{
    text-decoration: underline;
}

.terms{
    color: #737373;
    font-size: 0.9rem;
}

.terms a{
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover{
    text-decoration: underline;
}

